<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>  
            <div class="top-container"><img style="width:100%;" src="head.png"></div>       
        
        <div class="content">            
            <h1>Päd-Tag-Wizard</h1>            
            <p>&#169; <%= jahr %> Stefan Bäumer</p>                 
            <p>stefan.baeumer<i class="fa fa-at"></i>berufskolleg-borken.de</p>
        </div>            
        <%- footer %>
    </body>
</html>