<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>  
            <table style="border: 10px solid transparent">
                    <tr>
                        <td>
                            <p>Pädagogischer Tag am 5.3.2019</p>
                            <p>Einsatz digitaler Medien im Unterricht</p>
                        </td>
                        <td width="40%">
                            <img style="width:100%;" src="BKB_Logo_kurz.png">
                        </td>
                    </tr>                
                </table>
        <main>                  
            <div class="content">            
                <h1>Päd-Tag-Wizard</h1>            
                <p>&#169; <%= jahr %> Stefan Bäumer</p>                                 
                <p>stefan.baeumer<i class="fa fa-at"></i>berufskolleg-borken.de</p>                
                <p>Published <a href="https://bitbucket.org/stbaeumer/paed-tag-wizard" style="color:red" target="_blank">here</a> under the terms of GNU General Public License</p>
            </div>      
        </main>      
        <%- footer %>
    </body>
</html>