<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>  
            <div class="top-container"><img style="width:100%;" src="head.png"></div>
        <%- header %>
        

        <div class="center">            
            <p>&#169; <%= jahr %> Stefan Bäumer</p>                                                      
            <hr>
            <p>https://bitbucket.org/paed-tag-wizard</p>                                                      
            <hr>
            <p>stefan.baeumer berufskolleg-borken.de</p>                                                      
            <hr>
        </div>            
        <%- footer %>
    </body>
</html>