<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>  
        <div class="alert">
            <h1><%= themaDesTages %></h1>            
            <h2><%= titel %></h2>                    
            <p><%= beschreibung %></p>
        </div>
        <div class="center">
                <br>
                <form method="POST">    
                  <p>Lehrerkürzel:</p>                                    
                  <input type="text" name="lehrerKrz" id="kuerzel">
                  <p>PIN:</p>                                    
                  <input type="password" name="pin" id="password">
                </br>
                </br>
                  <button class="login button" formaction="/">Anmelden</button>                    
                </form>                
            
            <hr>
        </div>
            
        <div class="signature" >
            <p>
        <% for(var i=0; i < anzeigen.length; i++) {%>            
        <%- anzeigen[i] %>
      <% } %></p>
      <p>Made with <i class="much-heart"></i> by GW12A & Stefan Bäumer</p>
    </div>          
    </body>
</html>