<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Pädagogischer Tag 2019</title>  
        <link rel="stylesheet" href="styles.css">  
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="msapplication-TileColor" content="#da532c">        
        <meta name="theme-color" content="#ffffff">        
    </head>
    <body>  
        <main>  
            <div class="top-container"><img style="width:100%;" src="head.png"></div>            
            <div class="content">                    
                <br>
                <form method="POST" action="/">         
                    <div>
                        <label class="desc" id="title1" for="Field1">Lehrerkürzel:</label>
                        <div>
                        <input class="input id="Field1" name="lehrerKrz" value="<%= lehrerKrz%>" type="text" class="field text fn" value="" size="8" tabindex="1" required>
                        </div>
                    </div>
                        
                    <div>
                        <label class="desc" id="title3" for="Field3">
                        PIN:
                        </label>
                        <div>
                        <input class="input" id="Field3" name="pin" value="<%= pin %>" type="password" pattern="\d{3}"  spellcheck="false" value="" maxlength="4" tabindex="3" required> 
                        </div>                    
                    </div>
                    <div>
                        <div>
                            <input id="saveForm" style="width: 50%;" class="button" name="saveForm" type="submit" value="Login">                             
                        </div>
                    </div>            
                </form>
            </div>      
        </main>      
        <%- footer %>
    </div>          
    </body>
</html>