<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>BKB Placemat</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>        
        
            <div class="alert">
                    <h1>F E H L E R</h1>                                
            </div>
            <div class="center">
            <% if(error){ %>                            
                <% for(var i=0; i < error.length; i++) {%>
                    <p><%- error[i] %></p><hr>                    
                <% } %>                                                
                <% } %> 
            </div>                    
            <p>&copy; 2018 Mein Name</p>         
        
        <script>
                setTimeout(function () {                   
                   window.location = "/";
                }, 7000)
              </script>     
              <div class="signature" >                
              <p>Made with <i class="much-heart"></i> by GW12A & Stefan Bäumer</p>
            </div>          
    </body>
</html>