<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>   
        <main>  
                <table style="border: 10px solid transparent">
                        <tr>
                            <td>
                                <p>Pädagogischer Tag am 5.3.2019</p>
                                <p>Einsatz digitaler Medien im Unterricht</p>
                            </td>
                            <td width="40%">
                                <img style="width:100%;" src="BKB_Logo_kurz.png">
                            </td>
                        </tr>                
                    </table>
            <div class="content">                                             
                <%- badges %>            
            </div>
        </main>
        <%- footer %>
    </body>
</html>