<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>   
        <div class="alert">
                <h1>Pädagogischer Tag 2019 am 5.3.2019!</h1>            
                    <h2>Über Workshops informieren</h2>                    
                    <p>
                        Informieren Sie sich hier über die verschiedenen Angebote. Welche beiden Themen interessieren Sie?
                    </p>
        </div>    
        <hr>            
        <% for(var i=0; i < anzeigen.length; i++) {%>
            <div class="alert" style="background-color: transparent; color: #ffffff; border-style: solid;border-radius: 5px;">
                <%- anzeigen[i] %>                    
            </div>
            <br>                
        <% } %>    
        <div>
            <form method="GET">                                                
                <button class="login" formaction="/">Zurück zur Startseite</button>                    
            </form>  
        </div>    
    </body>
</html>