<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">                  
    </head>
    <body>   
        <div class="top-container"><img style="width:100%;" src="head.png"></div>        
        <div class="content">            
            <%- badges %>
        </div>                             
        <%- footer %>
    </body>
</html>