
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
#main-title {
	font-family: 'Roboto', sans-serif;
	font-size : 3em;
	margin: 0.1em;
}
.double-val-label {
	display: table;
	font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 100%;  
}
.double-val-label>span {
	background-color: #656565;
	color: #ffffff;
	display: table-cell;
	font-size: 4vw;
	font-weight: 400;
	line-height: 1;
	padding: .3em .6em;
	text-align: center;
  vertical-align: baseline;  
  white-space: nowrap;	  
}
.double-val-label>span.primary {
	background-color: #337ab7;
}
.double-val-label>span.success {
	background-color: #5cb85c;
}
.double-val-label>span.info {
	background-color: #5bc0de;
}
.double-val-label>span.warning {
	background-color: #f0ad4e;
}
.double-val-label>span.danger {
	background-color: #d9534f;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.top-container {
  background-color: #ffffff
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background:#292c2f;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: #45a049;
}


.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}



.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 0px sans-serif;  
    padding: 25px 27px;
    margin-top: 480px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    
  }
  
  .footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 1vw;
    margin: 0;
  }
  
  /* Footer links */
  
  .footer-distributed p.footer-links{
    font-size:1.5vw; /* Fußzeile */
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-left: 3px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 600px) {
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
      text-align: center;
    }
  
    .footer-distributed .footer-right{
      float: none;
      margin: 0 auto 20px;
    }
  
    .footer-distributed .footer-left p.footer-links{
      line-height: 1.8;
    }
  }
  
  .button {
    background-color: DodgerBlue;
    border: none;
    width: 70vw;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    border-radius: 10px;
    margin: 0 auto;
    border: black;
    border-style: solid;
    border-width: 2px;
    display: block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .menuButton {
    background-color: DodgerBlue;
    border: none;
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    border-radius: 10px;
    margin: 0 auto;
    border: black;
    border-style: solid;
    border-width: 2px;
    
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .input{
    background-color: white;
    border: dodgerblue;
    border-style: solid;
    border-width: 5px;
    width: 65%;
    color: dodgerblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    border-radius: 10px;
    margin: 0 auto;
    border: dodgerblue;
    display: block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: RoyalBlue;
  }


.chb input[type="radio"]{
    margin-bottom:5px;    
    margin-left:25%;
    width: 2vw; 
    height: 2vw;
}

.span5 {
  width: 380px;
}

label{
  font-size: 3vw;
}

